p{
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 120px;
    text-align: center;
  
}
body{
    background-color: #333;
    color:  #fff;
    text-shadow: 10px 10px 30px #5941f7, -10px -10px 30px #9547e7;
    -webkit-text-stroke: 3px  #9d6cec;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    
}
a{
    text-decoration: none;
}
